.example {
  padding: 0 20px;
  padding-top: 33px - (60px - 36px)/2;
  padding-bottom: 35px;
}

.example__heading {
  margin: 0;

  @include fs-lh(36px, 60px);
}

.example__text {
  margin: 0;
  margin-top: 41px - (60px - 36px)/2 - (18px - 14px)/2;

  @include Arial (14px, 18px);
  color: #444444;
}

.example__numbers {
  margin-top: 29px - (18px - 14px)/2;
  width: 100%;
}

.example__photos {
  margin-top: 25px;
}

.example--before {
  background-color: $grey;

  .controls__bar {
    justify-content: flex-start;
  }

  .numbers__heading {
    background-color: $grey;
  }

  .photos__after {
    display: none;
  }
}

.example--after {
  background-color: $dark-grey;

  .controls__bar {
    justify-content: flex-end;
  }

  .numbers__heading {
    background-color: $dark-grey;
  }

  .photos__before {
    display: none;
  }
}

@media screen and (min-width: $tablet-width) {
  .example {
    position: relative;

    padding: 0;
    padding-top: 51px;

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;

      width: 100%;
      height: 462px;
    }
  }

  .example__wrapper {
    padding: 0 30px;
  }

  .example__heading {
    @include fs-lh(60px, 60px);
  }

  .example__text {
    margin-top: 72px - (24px - 16px)/2;
    width: 685px;

    @include fs-lh(16px, 24px);
  }

  .example__numbers {
    padding: 0;
    margin-top: 60px - (24px - 16px)/2;
  }

  .example__photos {
    position: relative;

    margin-top: 80px;
    padding-bottom: 70px;
  }

  .example--before {
    background-color: #ffffff;

    .numbers__heading {
      background-color: #ffffff;
    }

    &::before {
      background-color: $grey;
    }
  }

  .example--after {
    background-color: #ffffff;

    .numbers__heading {
      background-color: #ffffff;
    }

    &::before {
      background-color: $dark-grey;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .example {
    padding: 0;
    padding-bottom: 68px;
    display: flex;
    justify-content: space-between;

    &::before {
      z-index: 0;
    }
  }

  .example__wrapper {
    position: relative;
    z-index: 2;

    padding: 0;
    padding-top: 90px - 24px;
    padding-left: 110px;
    width: 435px;
  }

  .example__text {
    width: 100%;
    margin-top: 115px - (24px - 16px)/2;
  }

  .example__numbers {
    margin-top: 80px - (24px - 16px)/2;
  }

  .example__photos {
    margin: 0;
    margin-right: 110px;
    padding: 0;
  }

  .example--before {
    .numbers__heading {
      background-color: $grey;
    }

    &::before {
      background-color: $grey;
    }
  }

  .example--after {
    .numbers__heading {
      background-color: $dark-grey;
    }

    &::before {
      background-color: $dark-grey;
    }
  }
}
