.page-header {
  display: flex;
  flex-wrap: wrap;
}

.page-header__wrapper {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;

  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo {
  margin-left: 20px;
  margin-top: -3px;

  cursor: pointer;

  &--image {
    width: 33;
    height: 38;
  }

  &--text {
    margin-left: 57px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__nav {
  width: 100%;
}

@media screen and (min-width: $tablet-width) {
  .page-header {
    padding: 20px 30px 0;
    flex-wrap: nowrap;
  }

  .page-header__wrapper {
    width: auto;
    height: auto;

    border: none;
  }

  .page-header__logo {
    margin: 0;

    &--image {
      width: 173px;
      height: 58px;
    }

    &--text {
      display: none;
    }
  }

  .page-header__nav {
    width: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-header__logo {
    margin-top: 54px;
    margin-left: 110px;

    &--image {
      width: 202px;
      height: 59px;
    }
  }
}
