.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  @include fs-lh(20px, 65px);
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: $tablet-width) {
  .site-list {
    display: flex;
  }

  .site-list__item {
    padding: (59px - 25px)/2 18px;
    border: none;

    &:last-child {
      padding-right: 0;
    }
  }

  .site-list__link {
    @include fs-lh (18px, 25px);

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--current {
      padding-bottom: 5px;

      border-bottom: 2px solid $green;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .site-list--index {
    .site-list__link {
      color: #ffffff;

      &--current {
        border-color: #ffffff;
      }
    }
  }

  .site-list__link {
    font-size: 20px;
  }
}
