.page-main__programs {
  padding: 0 20px;
  margin-top: 22px;
}

.page-main__advantages {
  padding: 0 20px;
  margin-top: 33px - (60px - 36px)/2;
  margin-bottom: 50px - (18px - 14px)/2;
}

.page-main__catalog {
  padding-top: 32px - (60px - 36px)/2;
}
