.selection__heading {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 42px - (60px - 36px)/2 - (18px - 14px)/2;

  @include fs-lh(36px, 60px);
}

.selection__text {
  margin: 0;
  margin-left: 20px;

  @include fs-lh(14px, 18px);
  text-transform: uppercase;
}

.selection__form {
  margin-top: 42px - (18px - 14px)/2;
}

@media screen and (min-width: $tablet-width) {
  .selection__heading {
    margin-left: 30px;
    margin-bottom: 55px;

    @include fs-lh(60px, 60px);
  }

  .selection__text {
    width: 325px;
    margin-left: 70px;

    @include fs-lh(20px, 30px);
  }

  .selection__form {
    margin-top: 65px;
  }
}
