.address__wrapper {
  padding: 30px 20px;
  column-count: 2;
  column-width: 140px;
  column-gap: 0;

  &--index {
    background-color: #ffffff;
  }
}

.address__tagline {
  @include fs-lh(16px, 20px);
  text-transform: uppercase;

  span {
    display: block;
  }
}

.address__text {
  margin: 0;

  @include Arial(14px, 20px);
  color: #444444;
}

.address__map {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 139px;
    left: 136px;

    width: 55px;
    height: 53px;

    background-image: url("../img/map-pin-mobile.png");
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: $tablet-width) {
  .address__wrapper {
    padding: 65px 70px 60px;
    column-width: 140px;
    column-gap: 240px;
  }

  .address__tagline {
    @include fs-lh(20px, 25px);
  }

  .address__text {
    font-size: 16px;

    text-align: right;

    span {
      display: block;
      margin-top: 18px;
    }
  }

  .address__map {
    &::after {
      top: 146px;
      left: 333px;

      width: 113px;
      height: 106px;

      background-image: url("../img/map-pin-tablet.png");
    }
  }
}
