$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-only: $tablet-width - 1px;

$green: #68b738;
$dark-green: #5eaa2f;

$grey: #f2f2f2;
$dark-grey: #eaeaea;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
